<section class="categories">
  <h2>Catégories</h2>
  <div class="categories-list">
    <button 
      *ngFor="let cat of categories"
      (click)="onSelectCategory(cat)"
      [class.active]="cat === selectedCategory"
    >
      {{ cat.name }}
    </button>
  </div>
</section>

<section class="subcategories" *ngIf="selectedCategory">
  <h3>Sous-catégories pour {{ selectedCategory.name }}</h3>

  <div *ngIf="selectedSubcategories.length > 0; else noSubcats">
    <ul>
      <li *ngFor="let sous of selectedSubcategories">
        {{ sous.name }}
      </li>
    </ul>
  </div>

  <ng-template #noSubcats>
    <p>Aucune sous-catégorie trouvée.</p>
  </ng-template>
</section>

<section class="products" *ngIf="selectedCategory">
  <h3>Produits associés</h3>

  <div *ngIf="selectedProducts.length > 0; else noProds">
    <div class="product-list">
      <div class="product-item" *ngFor="let prod of selectedProducts">
        <img 
          [src]="prod.models" 
          [alt]="prod.name" 
          width="200"
          height="200"
        />
        <h4>{{ prod.name }}</h4>
        <p>{{ prod.description }}</p>
      </div>
    </div>
  </div>

  <ng-template #noProds>
    <p>Aucun produit pour ces sous-catégories.</p>
  </ng-template>
</section>
