<div class="about-container">
  <div class="about-content">
    <span class="about-badge mat-elevation-z1">About Us</span>
    <h2 class="about-title">Ducimus rerum libero<br>reprehenderit cumque</h2>
    <p class="about-description">
      Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim reiciendis minus et rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora deleniti soluta.
    </p>
    <button mat-raised-button color="warn" class="about-btn">
      Read More <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="about-cards">
    <mat-card class="about-card mat-elevation-z2">
      <div class="about-icon"><mat-icon>business</mat-icon></div>
      <h3>Eius provident</h3>
      <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
    </mat-card>
    <mat-card class="about-card mat-elevation-z2">
      <div class="about-icon"><mat-icon>assignment</mat-icon></div>
      <h3>Rerum aperiam</h3>
      <p>Autem saepe animi et aut aspernatur culpa facere. Rerum saepe rerum voluptates quia</p>
    </mat-card>
    <mat-card class="about-card mat-elevation-z2">
      <div class="about-icon"><mat-icon>settings_ethernet</mat-icon></div>
      <h3>Veniam omnis</h3>
      <p>Omnis perferendis molestias culpa</p>
    </mat-card>
    <mat-card class="about-card mat-elevation-z2">
      <div class="about-icon"><mat-icon>trending_up</mat-icon></div>
      <h3>Delare sapiente</h3>
      <p>Sint et dolor voluptas minus possimus nostrum.</p>
    </mat-card>
  </div>
</div>