<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <input formControlName="firstname" placeholder="Prénom" />
  <input formControlName="lastname" placeholder="Nom" />
  <input formControlName="email" placeholder="Email" />
  <input formControlName="phone" placeholder="Téléphone" />

  <div>
    <label>
      <input type="radio" [(ngModel)]="isNewAddress" [value]="false" name="addressType" /> Adresse existante
    </label>
    <label>
      <input type="radio" [(ngModel)]="isNewAddress" [value]="true" name="addressType" /> Nouvelle adresse
    </label>
  </div>

  <div *ngIf="!isNewAddress">
    <select formControlName="addressId">
      <option *ngFor="let a of addresses" [value]="a.id">
        {{a.street}}, {{a.city}}, {{a.country}}
      </option>
    </select>
  </div>

  <div *ngIf="isNewAddress">
    <input formControlName="street" placeholder="Rue" />
    <input formControlName="city" placeholder="Ville" />
    <input formControlName="state" placeholder="Région/État" />
    <input formControlName="zip" placeholder="Code postal" />
    <input formControlName="country" placeholder="Pays" />
    <input formControlName="appartment" placeholder="Appartement" />
  </div>

  <button type="submit" [disabled]="isLoading">Créer</button>
  <div *ngIf="successMsg">{{successMsg}}</div>
  <div *ngIf="errorMsg">{{errorMsg}}</div>
</form>